:root {
  --angle: 45deg;
  --opacity: 0.5;
}

html,
body {
  overflow: auto; /* Allows scrolling */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.moving-borders {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  min-width: 100vw;
  border-radius: 10px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0); /* Transparent background */
  pointer-events: none;

  --border-size: 0.3rem;
  border: var(--border-size) solid transparent;

  border-image: conic-gradient(
      from var(--angle),
      #ffffff 0deg 90deg,
      #0666e3 90deg 180deg,
      #ffffff 180deg 270deg,
      #0666e3 270deg 360deg
    )
    1 stretch;
}

@property --opacity {
  syntax: "<number>";
  initial-value: 0.5;
  inherits: false;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes opacityChange {
  to {
    --opacity: 1;
  }
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

.moving-borders {
  animation: rotate 120s linear infinite, opacityChange 19s infinite alternate;
}

.fade {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-active {
  opacity: 1;
  transform: scale(1);
}
